In [2]:
import statsmodels.formula.api as smf

In [3]:
import pandas as pd
import numpy as np
import datetime

df = pd.read_csv('ted_main.csv')

In [4]:
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [5]:
df2 = df[['description','event','duration','published_date','views']]
df2['month'] = df2['published_date'].map(lambda x: datetime.datetime.fromtimestamp(x).isoformat()[5:7])
df2['year'] = df2['published_date'].map(lambda x: datetime.datetime.fromtimestamp(x).isoformat()[:4])
df2['month'] = df2['month'].apply(lambda x: int(x))
df2['year'] = df2['year'].apply(lambda x: int(x))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
df2['months_ago'] = ((2018 - df2['year'])*12 + df2['month'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
df2.head()

,description,event,duration,published_date,views,month,year,months_ago
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,1164,1151367060,47227110,6,2006,150
1,With the same humor and humanity he exuded in ...,TED2006,977,1151367060,3200520,6,2006,150
2,New York Times columnist David Pogue takes aim...,TED2006,1286,1151367060,1636292,6,2006,150
3,"In an emotionally charged talk, MacArthur-winn...",TED2006,1116,1151367060,1697550,6,2006,150
4,You've never seen data presented like this. Wi...,TED2006,1190,1151440680,12005869,6,2006,150

In [145]:
def ted_cats(x):
    if [0:4] == 'TED2': 
        x = 'TED'
    elif x[0:4] == 'TEDG':
        x = 'TED Global'
    elif x[0:4] == 'TEDx':
        x = 'TEDx'
    else:
        x == 'Other TED'

In [8]:
df2['new_cat'] = df2['event'].map(lambda x: "TEDx" if x[0:4] == "TEDx" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TED" if x[0:4] == "TED2" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TED" if x[0:4] == "TED1" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDGlobal" if x[0:4] == "TEDG" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDWomen" if x[0:4] == "TEDW" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDSalon" if x[0:4] == "TEDS" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDMED" if x[0:4] == "TEDM" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
ted_categories = ['TEDx', 'TED', 'TEDGlobal', 'TEDSalon', 'TEDWomen', 'TEDMED']

In [69]:
def other_ted(x):
    if x not in ted_categories:
        x = 'Other TED'
    return x

In [79]:
df2.head()

,description,event,duration,published_date,views,month,year,months_ago,new_cat,ted_type
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,1164,1151367060,47227110,6,2006,150,TED,TED
1,With the same humor and humanity he exuded in ...,TED2006,977,1151367060,3200520,6,2006,150,TED,TED
2,New York Times columnist David Pogue takes aim...,TED2006,1286,1151367060,1636292,6,2006,150,TED,TED
3,"In an emotionally charged talk, MacArthur-winn...",TED2006,1116,1151367060,1697550,6,2006,150,TED,TED
4,You've never seen data presented like this. Wi...,TED2006,1190,1151440680,12005869,6,2006,150,TED,TED