In [97]:
import statsmodels.formula.api as smf

In [98]:
import pandas as pd
import numpy as np
import datetime

df = pd.read_csv('ted_main.csv')

In [99]:
def days_from_today(data):
    year = data[:4]
    month = data[:-2]
    now_year = 2018
    now_month = 12
    return (now_year-year)*12 + (now_month - month)

In [100]:
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

In [123]:
df2 = df[['description','event','duration','published_date','views']]
df2['month'] = df2['published_date'].map(lambda x: datetime.datetime.fromtimestamp(x).isoformat()[5:7])
df2['year'] = df2['published_date'].map(lambda x: datetime.datetime.fromtimestamp(x).isoformat()[:4])
df2['month'] = df2['month'].apply(lambda x: int(x))
df2['year'] = df2['year'].apply(lambda x: int(x))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [140]:
df2['months_ago'] = ((2018 - df2['year'])*12 + df2['month'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [141]:
df2.head()

,description,event,duration,published_date,views,month,year,months_ago
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,1164,1151367060,47227110,6,2006,150
1,With the same humor and humanity he exuded in ...,TED2006,977,1151367060,3200520,6,2006,150
2,New York Times columnist David Pogue takes aim...,TED2006,1286,1151367060,1636292,6,2006,150
3,"In an emotionally charged talk, MacArthur-winn...",TED2006,1116,1151367060,1697550,6,2006,150
4,You've never seen data presented like this. Wi...,TED2006,1190,1151440680,12005869,6,2006,150

In [ ]:
f = 'months_ago~views'
model = smf.ols(formula=f, data= df2).fit()
model.summary()

In [145]:
def ted_cats(x):
    if [0:4] == 'TED2': 
        x = 'TED'
    elif x[0:4] == 'TEDG':
        x = 'TED Global'
    elif x[0:4] == 'TEDx':
        x = 'TEDx'
    else:
        x == 'Other TED'

In [149]:
mama = df2['event']

In [158]:
df2['new_cat'] = df2['event'].map(lambda x: "TEDx" if x[0:4] == "TEDx" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [172]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TED" if x[0:4] == "TED2" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [169]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDx" if x[0:4] == "TEDx" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [170]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TED Global" if x[0:4] == "TEDG" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDWomen" if x[0:4] == "TEDW" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [175]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDSalon" if x[0:4] == "TEDS" else x)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [187]:
df2['new_cat'] = df2['new_cat'].map(lambda x: "TEDMED" if x[0:4] == "TEDM" else x)
# took out a few lines converting 2+? other Ted Talks to their group

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [182]:
ted_categories = ['TEDx', 'TED', 'TEDGlobal', 'TEDSalon', 'TEDWomen', 'TEDMED']
df2['new_cat'] = df2['new_cat'].apply(lambda x: x ='Other Ted' if x not in ted_categories)

SyntaxError: invalid syntax (<ipython-input-182-2183193431b8>, line 2)

In [184]:
df2.head(5)

,description,event,duration,published_date,views,month,year,months_ago,new_cat
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,1164,1151367060,47227110,06,2006,150,TED
1,With the same humor and humanity he exuded in ...,TED2006,977,1151367060,3200520,06,2006,150,TED
2,New York Times columnist David Pogue takes aim...,TED2006,1286,1151367060,1636292,06,2006,150,TED
3,"In an emotionally charged talk, MacArthur-winn...",TED2006,1116,1151367060,1697550,06,2006,150,TED
4,You've never seen data presented like this. Wi...,TED2006,1190,1151440680,12005869,06,2006,150,TED

In [190]:
df2['new_cat'].value_counts()

TED                              978
TEDx                             471
TED Global                       463
TEDSalon                         113
TEDWomen                          96
TEDMED                            68
TEDIndia 2009                     35
TED Talks Live                    20
TEDNYC                            19
Mission Blue Voyage               18
EG 2007                           13
TEDCity2.0                        11
TED@BCG Paris                     11
TED@IBM                           10
TED@NYC                           10
TED-Ed                             9
TED Talks Education                8
Serious Play 2008                  8
Mission Blue II                    8
EG 2008                            8
TED@BCG San Francisco              7
TEDYouth 2014                      7
TED Fellows Retreat 2015           7
TED@State Street Boston            6
Taste3 2008                        6
INK Conference                     6
TED@Cannes                         5
TED Fellows Retreat 2013           5
TEDYouth 2015                      5
TED@UPS                            5
                                ...
Justice with Michael Sandel        1
Fort Worth City Council            1
NextGen:Charity                    1
TEDActive 2015                     1
DLD 2007                           1
Bowery Poetry Club                 1
World Science Festival             1
Toronto Youth Corps                1
TED@SXSWi                          1
Royal Institution                  1
LIFT 2007                          1
Global Witness HQ                  1
TEDNairobi Ideas Search            1
Eric Whitacre's Virtual Choir      1
AORN Congress                      1
Harvard University                 1
TED@State Street London            1
TED@Bangalore                      1
Elizabeth G. Anderson School       1
TED Prize Wish                     1
TED-Ed Weekend                     1
TED@London                         1
Skoll World Forum 2007             1
The Do Lectures                    1
TED Fellows 2015                   1
Handheld Learning                  1
Michael Howard Studios             1
Web 2.0 Expo 2008                  1
New York State Senate              1
SoulPancake                        1
Name: new_cat, Length: 95, dtype: int64

In [154]:
df2.head()

,description,event,duration,published_date,views,month,year,months_ago,new_cat
0,Sir Ken Robinson makes an entertaining and pro...,TED2006,1164,1151367060,47227110,06,2006,150,None
1,With the same humor and humanity he exuded in ...,TED2006,977,1151367060,3200520,06,2006,150,None
2,New York Times columnist David Pogue takes aim...,TED2006,1286,1151367060,1636292,06,2006,150,None
3,"In an emotionally charged talk, MacArthur-winn...",TED2006,1116,1151367060,1697550,06,2006,150,None
4,You've never seen data presented like this. Wi...,TED2006,1190,1151440680,12005869,06,2006,150,None

In [65]:
df2['event'].value_counts()

TED2014                       84
TED2009                       83
TED2016                       77
TED2013                       77
TED2015                       75
TED2011                       70
TEDGlobal 2012                70
TED2007                       68
TED2010                       68
TEDGlobal 2011                68
TED2017                       67
TEDGlobal 2013                66
TED2012                       65
TEDGlobal 2009                65
TED2008                       57
TEDGlobal 2010                55
TEDGlobal 2014                51
TED2006                       45
TED2005                       37
TEDIndia 2009                 35
TEDSummit                     34
TEDWomen 2010                 34
TED2003                       34
TED2004                       31
TEDWomen 2015                 28
TED2002                       28
TEDGlobal 2007                27
TEDGlobal 2005                26
TEDWomen 2016                 25
TEDxBeaconStreet              22
                              ..
TEDxJaffa 2013                 1
TEDxProvidence                 1
TEDxGoodenoughCollege          1
TEDxFulbrightDublin            1
New York State Senate          1
TEDxChapmanU                   1
Michael Howard Studios         1
TEDxUCL                        1
Harvard University             1
TEDxHamburg                    1
TEDxUIUC                       1
TEDxEuston                     1
World Science Festival         1
TEDxVictoria                   1
Carnegie Mellon University     1
Web 2.0 Expo 2008              1
TEDxGeorgetown                 1
TED-Ed Weekend                 1
TED@StateStreet Boston         1
TED@Nairobi                    1
TEDxCaFoscariU                 1
TEDSalon London 2009           1
TEDxDirigo                     1
TEDxEdmonton                   1
TEDxSeattleU                   1
TEDxUF                         1
TEDxFrankfurt                  1
TEDxWitsUniversity             1
TEDxOrcasIsland                1
SoulPancake                    1
Name: event, Length: 355, dtype: int64